<p id="notice"><%= notice %></p>

<p>
  <strong>Par1:</strong>
  <%= @smple.par1 %>
</p>

<p>
  <strong>Par2:</strong>
  <%= @smple.par2 %>
</p>

<p>
  <strong>Grp:</strong>
  <%= @smple.grp %>
</p>

<%= link_to 'Edit', edit_smple_path(@smple) %> |
<%= link_to 'Back', smples_path %>
